<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>All Questions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse row" style="padding-left: 100px;padding-right: 100px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">Autism Barta</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/dashboard}">Dashboard
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/dashboard}">Dashboard</a></li>
                        <li><a th:href="@{/child}">My Childs</a></li>
                        <li><a th:href="@{/profile}">Profile</a></li>
                        <li th:if="${session.user != null}"><a th:href="@{/profile/create}">Create Profile</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/questions}">Questions
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/questions}">Questions</a></li>
                        <li><a th:href="@{/questions/create}">Create Question</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/child/screening/start}">Start Screening</a></li>
            </ul>
            <!--IF NOT LOGGED IN-->
            <ul th:if="${session.user == null}" class="nav navbar-nav navbar-right">
                <li><a th:href="@{/register}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            <ul th:if="${session.user != null}" class="nav navbar-nav navbar-right">
                <li><a th:href="@{/profile}"><span th:text="${session.user.getName()}"></span></a></li>
                <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>  <!--END NAVBAR -->

    <div class="row" style="padding-left: 50px;">
    <div th:if="${param.message != null}" class="row alert alert-warning">
        <div class="col-sm-offset-2">
            <span th:text="${param.message[0]}"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h3>Child List</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Age</td>
                    <td>Birth Date</td>
                    <td>App Result</td>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${childList != null}" th:each="child : ${childList}">
                    <td>
                        <span th:text="${child.getName()}"></span>
                    </td>
                    <td>
                        <span th:text="${child.getAge()}"></span>
                    </td>
                    <td>
                        <span th:text="${child.getBirthDate()?.toString()}"></span>
                    </td>
                    <td>
                        <span th:text="${child.isAppResult()}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>