<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Interactive, community-based screening tool for Autism | Home :: Autism Barta</title>
    <!--mobile apps-->
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
    <meta name="keywords" content="Interactive, community-based screening tool for Autism, Autism Barta"></meta>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--mobile apps-->
    <!--Custom Theme files -->
    <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet" media="all"></link>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="all">
    </link>
    <link rel="stylesheet" type="text/css" th:href="@{css/component.css}"></link>
    <!-- //Custom Theme files -->
    <!-- js -->
    <script th:src="@{js/modernizr.custom.js}"></script>

    <script th:src="@{/js/jquery-1.11.1.min.js}"></script>
    <script type="text/javascript" th:src="@{js/move-top.js}"></script>
    <script type="text/javascript" th:src="@{js/easing.js}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 900);
            });
        });
    </script>

    <!-- //js -->
    <!--web-fonts-->
    <link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'></link>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'></link>
    <!--//web-fonts-->
    <!--animate-->
    <link th:href="@{/css/animate.css}" rel="stylesheet" type="text/css" media="all"></link>
    <script th:src="@{js/wow.min.js}"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- start-smoth-scrolling-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <!--//end-smoth-scrolling-->
</head>

<body>
<!--w3layouts-->
<!--agileits-->
<!-- main content start-->
<!--start-home-->
<div id="home" class="header">
    <!--start-header-->
    <div class="header-strip">
        <div class="container">
            <!-- 				<p class="phonenum"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> HELP LINE:  162362

             &nbsp;&nbsp; Register | &nbsp;Log In</p> -->
            <div class="social-icons">
                <!--IF NOT LOGGED IN-->
                <!--IF NOT LOGGED IN-->
                <ul th:if="${session.user == null}">
                    <li><a th:href="@{/register}" class="account"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                    </li>
                    <li><a th:href="@{/login}" class="account"><span class="glyphicon glyphicon-log-in"></span>
                        Login</a></li>
                </ul>
                <ul th:if="${session.user != null}">
                    <li><a th:href="@{/profile}" class="account"><span th:text="${session.user.getName()}"></span></a>
                    </li>
                    <li><a th:href="@{/logout}" class="account"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="header-top">
        <div class="container">
            <div class="logo"><a href="index.html" th:href="@{/}"><h1>Autism<span>Barta</span></h1>
                <p class="top-para">Autism Community in Bangladesh.</p></a></div>
            <div class="main-nav">
                <span class="menu"></span>
                <div class="top-menu">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/}">হোম</a></li>
                        <li><a th:href="@{/child/screening/start}">অটিজম স্ক্রিনিং</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/dashboard}">ড্যাশবোর্ড
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/dashboard}">ড্যাশবোর্ড</a></li>
                                <li><a th:href="@{/child}">আমার শিশু</a></li>
                                <!--<li><a th:href="@{/profile}">প্রোফাইল</a></li>-->
                                <li th:if="${session.user != null}"><a th:href="@{/profile/create}">প্রোফাইল তৈরী করুন</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/admin/questions}"> অ্যাডমিন
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/admin/child?page=0}">শিশুর তালিকা</a></li>
                                <li><a th:href="@{/admin/questions}">প্রশ্নাবলী </a></li>
                                <li><a th:href="@{/admin/questions/create}">প্রশ্ন তৈরি করুন</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/admin/questions}">অটিজম সেন্টার
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/admin/center/home}">সেন্টার হোম</a></li>
                                <li><a th:href="@{/admin/center/responses}">নতুন রেসপন্স</a></li>
                                <li><a th:href="@{/admin/center/visited}">ভিজিটিকৃত শিশুর তালিকা</a></li>
                            </ul>
                        </li>
                    </ul>
                </div> <!--NAVIGATION-->
            </div>
            <!-- script-for-menu -->
            <script>
                $("span.menu").click(function () {
                    $(".top-menu").slideToggle("slow", function () {
                        // Animation complete.
                    });
                });
            </script>
            <!--End-top-nav-script-->
            <!--//end-header-->
            <div class="clearfix"></div>
        </div>

    </div>
</div>
<!-- app-->
<div class="modal ab fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog about" role="document">
        <div class="modal-content about">
            <div class="modal-header">
                <button type="button" class="close ab" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body about">
                <div class="about">
                    <h4 class="tittle wow fadeInUp animated animated" data-wow-delay=".5s">Retirement Plans</h4>
                    <div class="about-inner">

                        <iframe src="https://www.youtube.com/embed/lj813_txFFc" frameborder="0"
                                allowfullscreen="true"></iframe>
                        <h5 class="tittle">Lorem ipsum dolor sit amet</h5>
                        <p>Lorem ipsum dolor sit amet Integer gravida,Lorem ipsum dolor sit amet Integer gravida
                            velit,Ming sits in the corner the whole day. She's into crochet. quis dolor
                            tristiqumsan.Mirum est notare quam littera gothica, quam nunc putamus parum claram,
                            anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. velit
                            quis dolor tristiqumsan.</p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- //app-->
<!-- about-type-grid -->
<div class="about" id="about">

    <div th:if="${param.message != null}" class="row alert alert-warning">
        <div class="col-sm-offset-2">
            <span th:text="${param.message[0]}"></span>
        </div>
    </div>

    <div class="container" style="padding: 20px;">
        <div class="row" id="my-row" th:if="${child != null}">
            <div style="padding:15px;" class="col-sm-6 panel panel-default">
                <h3>Child Information</h3><br/><br/>

                <h4>
                    Child Name: <span th:text="${child.getName()}">Child Name</span>
                </h4> <br/>

                <h4>
                    Child Age: <span th:text="${child.getAge()}">23 Months</span>
                </h4><br/>

                <h4>
                    Parent Name: <span th:text="${child.getParent()?.getName()}">MD Hosen Ahmed</span>
                </h4><br/>

                <h4>
                    Contact Number: <span th:text="${child.getParent()?.getPhoneNumber()}">01923734234</span>
                </h4><br/>

                <h4>
                    <span th:text="${child.getParent()?.getAddress()?.getHomeAddress()}"></span>,
                    <span th:text="${child.getParent()?.getAddress()?.getStreetOrVillage()}"></span>,
                    <span th:text="${child.getParent()?.getAddress()?.getUnionOrWard()}"></span>,
                    <span th:text="${child.getParent()?.getAddress()?.getUpazila()}"></span>
                    <span th:text="${child.getParent()?.getAddress()?.getDistrict()}"></span>
                </h4><br/><br/>

            </div>
            <div class="col-sm-1"></div>
            <div style="padding:15px;" class="col-sm-5 panel panel-default">
                <h3>Online Screening Result</h3><br/>
                <h4>
                    Online Result:
                    <span th:if="${child.isAppResult()}">May Be Autism</span>
                    <span th:if="${!child.isAppResult()}">May Be Safe</span>
                </h4><br/>
                <h4>
                    Online Screening Method:
                    <span th:if="${child.isSentFromMobileApp()}">Mobile Application</span>
                    <span th:if="${!child.isSentFromMobileApp()}">Web Application</span>
                </h4> <br/>
                <button class="btn btn-primary" type="button">See MCHAT Results</button>
            </div>
        </div>
    </div>
</div>
<!-- //about-type-grid -->


<!-- //footer -->
<!--//main content start-->
<!--start-smooth-scrolling-->
<script type="text/javascript">
    $(document).ready(function () {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({easingType: 'easeOutQuart'});

    });

</script>
<!--end-smooth-scrolling-->
<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover"
                                                                         style="opacity: 1;"> </span></a>
<!-- //for bootstrap working -->
<!-- for bootstrap working -->
<script th:src="@{/js/bootstrap.js}"></script>
<!-- //for bootstrap working -->


</body>
</html>