<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Create Question</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div>
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h3>Register:</h3>
                <form class="form" th:action="@{/register}" th:object="${question}" method="post"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="label label-primary" for="name">Name:</label>
                        <input class="form-control" type="text" name="name" id="name"></input>
                    </div>
                    <div class="form-group">
                        <label class="label label-primary" for="email">Email:</label>
                        <input class="form-control" type="text" name="email" id="email"></input>
                    </div>
                    <div class="form-group">
                        <label class="label label-primary" for="phoneNumber">Phone Number:</label>
                        <input class="form-control" type="Text" id="phoneNumber" name="phoneNumber"></input>
                    </div>
                    <div class="form-group">
                        <label class="label label-primary" for="password">Password:</label>
                        <input class="form-control" type="password" id="password" name="password"></input>
                    </div>
                    <div class="form-group">
                        <label class="label label-primary" for="confirmPassword">Confirm Password:</label>
                        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword"></input>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>