<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-4 footer-grid-left">
                <h3>twitter feed</h3>
                <ul>
                    <li><a href="single.html">It is a long established fact that a reader will
                        be distracted by the readable content of a page when looking at
                        its layout.</a><span>15 minutes ago</span></li>
                    <li><a href="mailto:info@example.com" class="cols">@NASA</a> And <a href="mailto:info@example.com"
                                                                                        class="cols">
                        @orbital science</a> <a href="single.html">readable content of a page when looking at
                        its layout</a><span>45 minutes ago</span></li>
                </ul>
            </div>
            <div class="col-md-4 footer-grid-left">
                <h3>Newsletter</h3>
                <form action="#" method="post">
                    <input type="email" value="enter your email address" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = 'enter your email address';}" required=""></input>
                    <input type="submit" value="Submit"></input>
                </form>
            </div>
            <div class="col-md-4 footer-grid-left">
                <h3>about us</h3>
                <p>“অটিজম বার্তা” একটি মোবাইল ভিত্তিক, ইন্টারেক্টিভ, কমিউনিটি বেইজড স্ক্রিনিং টুল যা অটিজম নিরুপন ও পর্যবেক্ষণের কাজে ব্যবহার করা হয়। পিতা-মাতা, চিকিৎসক, স্বাস্থ্যবিষয়ক প্রশিক্ষিত কর্মকর্তাগণ অ্যাপটি ব্যবহার করে  অটিজম স্ক্রিনিং ও পরবর্তি করনীয় বিষয়গুলো জানতে পারবেন। অ্যাপটি দ্বারা পরীক্ষার মাধ্যমে একটি শিশুর অটিজম হওয়ার সম্ভাবনা প্রকাশ পেলে তার খবর নিকটস্থ অটিজম সেন্টারে সয়ংক্রীয়ভাবে অবহিত করা হয়। পাশাপাশি শিশুর অভিভাবককে পরবর্তী করনীয় সম্পর্কে অবহিত করা হয়।
                    <span>অ্যাপটির মাধ্যমে শিশুর অবস্থা মনিটর করা ও পরবর্তীতে সময় মত পিতা-মাতাকে মোবাইলে অবহিত করা হয়। পাশাপাশি অটিজম বিষয়ক সামাজিক সচেতনতা ও শিক্ষিত করা “অটিজম বার্তা”র অন্যতম লক্ষ্য।</span>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-left">
                <p>&copy; 2016  AIMS Lab, United International University. All rights reserved | Design by <a href="http://agroho.com/">আগ্রহ</a>
                </p>
            </div>
            <div class="footer-bottom-right">
                <ul class="social-icons2">
                    <li><a href="#"> </a></li>
                    <li><a href="#" class="fb"> </a></li>
                    <li><a href="#" class="in"> </a></li>
                    <li><a href="#" class="dott"> </a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //footer -->