<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Questionaries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div th:if="${param.message != null}" class="row alert alert-warning">
        <div class="col-sm-offset-2">
            <span th:text="${param.message[0]}"></span>
        </div>
    </div>

    <div class="row">
        <div th:object="${question}" class="col-sm-8 col-sm-offset-2">
            <div class="row">
                <h3 th:text="${question?.getName()}"></h3>
            </div>
            <div class="row">
                <img height="200px" width="300px" th:src="@{/questions/image/}+${question?.getId()}"></img>
            </div>
            <div th:if="${question != null}" class="row">
                <div th:if="${question?.getQuestionId()>1}" class="col-sm-3">
                    <form th:action="@{/child/screening/{userId}(userResponse=false,userId=${question?.getQuestionId()})}" method="post">
                        <button type="submit"><span th:text="${question?.getNegativeText()}"></span></button>
                    </form>
                </div>
                <div class="col-sm-3 col-sm-offset-2">
                    <form th:action="@{/child/screening/{userId}(userResponse=true,userId=${question?.getQuestionId()})}" method="post">
                        <button type="submit"><span th:text="${question?.getPositiveText()}"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>