<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>লগ ইন :: অটিজম বার্তা</title>
    <!--mobile apps-->
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
    <meta name="keywords" content="Interactive, community-based screening tool for Autism, Autism Barta"></meta>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--mobile apps-->
    <!--Custom Theme files -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all"></link>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    </link>
    <link rel="stylesheet" type="text/css" href="css/component.css"></link>
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="js/modernizr.custom.js"></script>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 900);
            });
        });
    </script>

    <!-- //js -->
    <!--web-fonts-->
    <link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'></link>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'></link>
    <!--//web-fonts-->
    <!--animate-->
    <link href="css/animate.css" rel="stylesheet" type="text/css" media="all"></link>
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- start-smoth-scrolling-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>

    <!--//end-smoth-scrolling-->

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1888177171414926',
                xfbml: true,
                version: 'v2.8'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="https://sdk.accountkit.com/en_US/sdk.js"></script>

    <script>
        // initialize Account Kit with CSRF protection
        AccountKit_OnInteractive = function () {
            AccountKit.init(
                    {
                        appId: '1888177171414926',
                        state: "{{csrf}}",
                        version: "v1.1",
                        debug: true
                    }
            );
        };

        // login callback
        function loginCallback(response) {
            console.log(response);
            console.log("NO IDEA");

            if (response.status === "PARTIALLY_AUTHENTICATED") {
                console.log("Authenticated");
                var ph_num = document.getElementById("phone_num").value;
                window.location = "/sendNum?phoneNumber=" + ph_num;
//                document.getElementById("code").value = response.code;
//                document.getElementById("csrf_nonce").value = response.state;
//                document.getElementById("my_form").submit();
            }
            else if (response.status === "NOT_AUTHENTICATED") {
                console.log("NOT AUTHENTICATED");
                // handle authentication failure
            }
            else if (response.status === "BAD_PARAMS") {
                console.log("BAD PARAMS");
                // handle bad parameters
            }
        }

        // phone form submission handler
        function phone_btn_onclick() {
            var country_code = document.getElementById("country_code").value;
            var ph_num = document.getElementById("phone_num").value;
            AccountKit.login('PHONE',
                    {countryCode: country_code, phoneNumber: ph_num}, // will use default values if this is not specified
                    loginCallback);
        }


        // email form submission handler
        function email_btn_onclick() {
            var email_address = document.getElementById("email").value;

            AccountKit.login('EMAIL', {emailAddress: email_address}, loginCallback);
        }

    </script>

</head>

<body>
<!--w3layouts-->
<!--agileits-->
<!-- main content start-->
<!--start-home-->
<div th:replace="fragments/header"></div>
<!--//end-banner-->
<!-- app-->
<!-- about-type-grid -->
<div class="about" id="about">
    <div class="container" style="padding: 50px;">

        <div class="row" style="color: red; font-size: 18px;"><span th:if="${param.error != null}">Invalid phone number or password!</span>
        </div>
        <div class="row"><span th:if="${param.message != null}" th:text="${param.message[0]}"></span></div>
        <div class="row">
            <div th:if="${phoneNumber != null}" class="col-sm-8 col-sm-offset-2 alert alert-warning">
                <span th:if="${phoneNumber != null}">User not registered!</span>
            </div>
            <div th:if="${message != null}" class="col-sm-8 col-sm-offset-2 alert alert-warning">
                <span th:if="${message != null}" th:text="${message}"></span>
            </div>
        </div>
        <div class="row">
            <!--<form class="form">-->
            <div class="form-group">
                <label class="label label-primary" for="country_code">কান্ট্রি কোডঃ </label>
                <input class="form-control" type="text" id="country_code" value="+880"></input>
            </div>

            <div class="form-group">
                <label class="label label-primary" for="phone_num">ফোন নম্বরঃ</label>
                <input class="form-control" type="text" id="phone_num"></input>
            </div>
            <button class="btn btn-primary" onclick="phone_btn_onclick();">লগ ইন</button>
            <!--</form>-->

            <!--Enter country code (e.g. +1):-->
            <!--<input type="text" id="country_code" />-->
            <!--Enter phone number without spaces (e.g. 444555666):-->
            <!--<input type="text" id="phone_num"/>-->
            <!--<button onclick="phone_btn_onclick();">Login via SMS</button>-->
            <!--Enter email address-->
            <!--<input type="text" id="email"/>-->
            <!--<button onclick="email_btn_onclick();">Login via Email</button>-->
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!-- //about-type-grid -->


<!-- //footer -->
<!--//main content start-->
<!--start-smooth-scrolling-->
<script type="text/javascript">
    $(document).ready(function () {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({easingType: 'easeOutQuart'});

    });

</script>
<!--end-smooth-scrolling-->
<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover"
                                                                         style="opacity: 1;"> </span></a>
<!-- //for bootstrap working -->
<!-- for bootstrap working -->
<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->


</body>
</html>