
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>লগ ইন :: অটিজম বার্তা</title>
    <!--mobile apps-->
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
    <meta name="keywords" content="Interactive, community-based screening tool for Autism, Autism Barta"></meta>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--mobile apps-->
    <!--Custom Theme files -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all"></link>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    </link>
    <link rel="stylesheet" type="text/css" href="css/component.css"></link>
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="js/modernizr.custom.js"></script>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 900);
            });
        });
    </script>

    <!-- //js -->
    <!--web-fonts-->
    <link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'></link>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'></link>
    <!--//web-fonts-->
    <!--animate-->
    <link href="css/animate.css" rel="stylesheet" type="text/css" media="all"></link>
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- start-smoth-scrolling-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <script id="digits-sdk" src="https://cdn.digits.com/1/sdk.js" async="async"></script>
    <script>
        /* Initialize Digits for Web using your application's consumer key that Fabric generated */
        document.getElementById('digits-sdk').onload = function() {
            Digits.init({ consumerKey: 'SkqUWNrghQ2FI18lOj8PwxZaP' });
        };

        /* Launch the Login to Digits flow. */
        function onLoginButtonClick(event){
            Digits.logIn()
                    .done(onLogin) /*handle the response*/
                    .fail(onLoginFailure);
        }
    </script>
    <!--//end-smoth-scrolling-->
</head>

<body>
<!--w3layouts-->
<!--agileits-->
<!-- main content start-->
<!--start-home-->
<div th:replace="fragments/header"></div>
<!--//end-banner-->
<!-- app-->
<!-- about-type-grid -->
<div class="about" id="about">
    <div class="container" style="padding: 50px;">
        <div class="row" style="color: red; font-size: 18px;"><span th:if="${param.error != null}">Invalid phone number or password!</span></div>
        <div class="row"><span th:if="${param.message != null}" th:text="${param.message[0]}"></span></div>
        <div class="row">
            <div th:if="${phoneNumber != null}" class="col-sm-8 col-sm-offset-2 alert alert-warning">
                <span th:if="${phoneNumber != null}">User not registered!</span>
            </div>
            <div th:if="${message != null}" class="col-sm-8 col-sm-offset-2 alert alert-warning">
                <span th:if="${message != null}" th:text="${message}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h3>লগইন</h3>
                <form class="form" th:action="@{/login}" method="post"
                      enctype="multipart/form-data">

                    <div class="form-group">
                        <label class="label label-primary" for="phoneNumber">মোবাইল নাম্বার:</label>
                        <input class="form-control" type="text" name="username" th:value="${phoneNumber}" id="phoneNumber"></input>
                    </div>

                    <div class="form-group">
                        <label class="label label-primary" for="password">পাসওয়ার্ড:</label>
                        <input class="form-control" type="password" id="password" name="password"></input>
                    </div>
                    <button onclick="onLoginButtonClick(event)" class="btn btn-primary" type="submit">লগ ইন</button>
                    <div>
                        <span>এখনও রেজিস্ট্রেশন করেন নি?</span>
                        <a th:href="@{/register}">রেজিস্ট্রেশন করুন</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!-- //about-type-grid -->


<!-- //footer -->
<!--//main content start-->
<!--start-smooth-scrolling-->
<script type="text/javascript">
    $(document).ready(function () {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({easingType: 'easeOutQuart'});

    });

</script>
<!--end-smooth-scrolling-->
<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover"
                                                                         style="opacity: 1;"> </span></a>
<!-- //for bootstrap working -->
<!-- for bootstrap working -->
<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->


</body>
</html>