<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<!--w3layouts-->
<!--agileits-->
<!-- main content start-->
<!--start-home-->
<div th:replace="fragments/header"></div>

<!--//end-banner-->
<!-- app-->
<div class="modal ab fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog about" role="document">
        <div class="modal-content about">
            <div class="modal-header">
                <button type="button" class="close ab" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body about">
                <div class="about">
                    <h4 class="tittle wow fadeInUp animated animated" data-wow-delay=".5s">Retirement Plans</h4>
                    <div class="about-inner">

                        <iframe src="https://www.youtube.com/embed/lj813_txFFc" frameborder="0"
                                allowfullscreen="true"></iframe>
                        <h5 class="tittle">Lorem ipsum dolor sit amet</h5>
                        <p>Lorem ipsum dolor sit amet Integer gravida,Lorem ipsum dolor sit amet Integer gravida
                            velit,Ming sits in the corner the whole day. She's into crochet. quis dolor
                            tristiqumsan.Mirum est notare quam littera gothica, quam nunc putamus parum claram,
                            anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. velit
                            quis dolor tristiqumsan.</p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- //app-->
<!-- about-type-grid -->
<div class="about" id="about">
    <div class="container">
        <div class="col-md-5 ab-left">
            <form action="#" th:action="@{/child/screening/start}" method="post" class="retire">
                <div class="styled-input">
                    <input type="text" name="name" required="required" style="color: white;" placeholder="শিশুর নাম"></input>
                    <span></span> </div>
                <div class="styled-input">
                    <input type="date" name="birthDate" required="required" style="color: white; margin-top: 20px;" placeholder="শিশুর জন্ম তারিখ"></input>
                    <label>শিশুর জন্ম তারিখ</label>
                    <span></span> </div>
                <div class="styled-input">
                    <input type="text" name="relation" placeholder="শিশুর সাথে আপনার সম্পর্ক" required="required"/>
                    <span></span> </div><br/>
                <div class="send">
                    <input type="submit" value="অটিজম স্ক্রিনিং করুন"></input>
                </div>
            </form>


        </div>

        <div class="col-md-6 ab-right">
            <div class="col-bottom two">
                <h2 class="tittle"> <span>অটিজম  বার্তায়</span> স্বাগতম</h2>
                <!--   <h4>অটিজম নিরুপন ও পর্যবেক্ষণের কমিউনিটি বেইজড স্ক্রিনিং টুল </h4> -->
                <p>“অটিজম বার্তা” একটি মোবাইল ভিত্তিক, ইন্টারেক্টিভ, কমিউনিটি বেইজড স্ক্রিনিং টুল যা অটিজম নিরুপন ও পর্যবেক্ষণের কাজে ব্যবহার করা হয়। পিতা-মাতা, চিকিৎসক, স্বাস্থ্যবিষয়ক প্রশিক্ষিত কর্মকর্তাগণ অ্যাপটি ব্যবহার করে  অটিজম স্ক্রিনিং ও পরবর্তি করনীয় বিষয়গুলো জানতে পারবেন। অ্যাপটি দ্বারা পরীক্ষার মাধ্যমে একটি শিশুর অটিজম হওয়ার সম্ভাবনা প্রকাশ পেলে তার খবর নিকটস্থ অটিজম সেন্টারে সয়ংক্রীয়ভাবে অবহিত করা হয়। পাশাপাশি শিশুর অভিভাবককে পরবর্তী করনীয় সম্পর্কে অবহিত করা হয়।  </p>
                <!--<a href="#" class="hvr-shutter-in-horizontal">বিস্তারিত</a>-->
                &nbsp;&nbsp;
            </div>

        </div>

        <div class="clearfix"> </div>
    </div>
</div>   <!-- //about-type-grid -->

<!--/news-->
<div class="services" id="service">
    <div class="container">
        <h5 class="sub-h">স্বনামধন্য প্রতিষ্ঠানসমূহ দ্বারা পরিচালিত</h5>
        <h3 class="tittle">সহযোগী প্রতিষ্ঠান</h3>
        <div class="serve-grids-top">

            <div class="col-md-3 service-box hvr-float-shadow">
                <div class=" hi-icon-effect-6">
                    <img src="images/a2i.png"></img>
                    <!-- 						   <a href="#set-6" class="hi-icon glyphicon glyphicon-cog"></a>
                     -->                         </div>
                <h5>a2i</h5>
                <p>a2i is the world’s first Innovation Lab+ and the key driver from the Prime Minister’s Office.</p>
            </div>
            <!--w3layouts-->
            <!--agileits-->
            <div class="col-md-3 service-box hvr-float-shadow">
                <div class=" hi-icon-effect-6">
                    <img src="images/aimslab.png"></img>
                    <!-- 						<a href="#set-6" class="hi-icon glyphicon glyphicon-star-empty"></a>
                     -->                    </div>
                <h5>AIMS Lab, UIU</h5>
                <p>Advanced Intelligent Multidisciplinary Systems Lab (AIMS Lab) by United International University.</p>
            </div>
        </div>
        <div class="col-md-3 service-box hvr-float-shadow">
            <div class=" hi-icon-effect-6">
                <img src="images/jpuf.png"></img>
                <!-- 						<a href="#set-6" class="hi-icon glyphicon glyphicon-leaf"></a>
                 -->                    </div>
            <h5>JPUF</h5>
            <p>Jatiyo Protibondhi Unnayan Foundation,Ministry of Social Welfare.</p>
        </div>
        <div class="col-md-3 service-box hvr-float-shadow">
            <div class=" hi-icon-effect-6">
                <img src="images/bsmmu.png"></img>
                <!-- 						<a href="#set-6" class="hi-icon glyphicon glyphicon-gift"></a>
                 -->                    </div>
            <h5>IPNA BSMMU</h5>
            <p> Institute of Paediatric Neurodisorder and Autism (IPNA) in Bangabandhu Sheikh Mujib Medical University</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="insurance-section" id="plan">
    <div class="container">
        <h5 class="sub-h">অটিজম বার্তা এখন অ্যান্ড্রয়েডে</h5>
        <h3 class="tittle second">অটিজম বার্তা অ্যান্ড্রয়েড অ্যাপলিকেশন</h3>

        <div class="insurance-grids grid">
            <div class="col-md-6 insurance-grid">
                <figure class="effect-julia">
                    <img src="images/apphome.png" alt="img21"/>
                    <!-- 	<figcaption>
                            <h4>Lorem ipsum  <span>dolor </span></h4>
                            <div>
                                <p>Julia dances in the deep dark</p>
                                <p>She loves the smell of the ocean</p>
                                <p>And dives into the morning light</p>
                            </div>
                            <a href="#">View more</a>
                        </figcaption>	 -->
                </figure>

            </div>
            <div class="col-md-6 insurance-grid">
                <figure class="effect-julia">
                    <img src="images/appq.png" alt="img21"/>
                    <!-- 		<figcaption>
                                <h4>Lorem ipsum  <span>dolor </span></h4>
                                <div>
                                    <p>Julia dances in the deep dark</p>
                                    <p>She loves the smell of the ocean</p>
                                    <p>And dives into the morning light</p>
                                </div>
                                <a href="#">View more</a>
                            </figcaption>	 -->
                </figure>

            </div>
            <div class="clearfix"></div>
        </div>
        <!--<h4>Autism Screening is now on mobile</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy
            hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Nulla dui. Maecenas tristique orci ac sem. Duis ultricies
            pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget,
            elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.</p>
        <ul class="insure">
            <li><a href="#"><i class="tick"></i></a>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
            <li><a href="#"><i class="tick"></i></a>Cras bibendum ornare mauris porta aliquam</li>
            <li><a href="#"><i class="tick"></i></a>Maecenas quis rutrum quam</li>
            <li><a href="#"><i class="tick"></i></a>Suspendisse imperdiet sapien eu metus adipiscing</li>
            <li><a href="#"><i class="tick"></i></a>Maecenas quis rutrum quam, ut vulputate quam.</li>
            <li><a href="#"><i class="tick"></i></a>Mauris accumsan at leo ut fringilla. In bibendum varius nulla at
                ornare.
            </li>
        </ul>-->
        <br/>
        <img src="images/gplay.png" width="240" height="100"></img>

        <!-- 			   	<a href="#" data-toggle="modal" data-target="#myModal1" class="hvr-shutter-in-horizontal">Download on Google Play</a>
         -->
    </div>
</div>
<!--
<div class="gallery" id="gallery">
	<div class="container">
	 <h5 class="sub-h">Happy Moments in Your Life</h5>
		 <h3 class="tittle">Gallery</h3>
			<div class="top-gallery">
				<div class="col-md-4 gallery-grid gallery1">
					<a href="images/g3.jpg" class="swipebox"><img src="images/g3.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>We Plan</h4>
							<p>Welcome</p>
							
						</div>
				</a>
				</div>
				<div class="col-md-4 gallery-grid gallery1">
					<a href="images/g4.jpg" class="swipebox"><img src="images/g4.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>We Plan</h4>
							<p>Welcome</p>
						
						</div>
				</a>
				</div>
				<div class="col-md-4 gallery-grid gallery1">
					<a href="images/g5.jpg" class="swipebox"><img src="images/g5.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>We Plan</h4>
							<p>Welcome</p>
							
						</div>
				</a>
				</div>
				<div class="col-md-4 gallery-grid gallery1">
					<a href="images/g6.jpg" class="swipebox"><img src="images/g6.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>We Plan</h4>
							<p>Welcome</p>
							
						</div>
				</a>
				</div>
				<div class="col-md-4 gallery-grid gallery1">
					<a href="images/g7.jpg" class="swipebox"><img src="images/g7.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>We Plan</h4>
							<p>Welcome</p>
							
						</div>
					</a>
				</div>
				<div class="col-md-4 gallery-grid gallery1">
					<a href="images/g8.jpg" class="swipebox"><img src="images/g8.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>We Plan</h4>
							<p>Welcome</p>
					   </div>
				   </a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>	
	</div>start-gallery-->
<link rel="stylesheet" href="css/swipebox.css"></link>
<script src="js/jquery.swipebox.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $(".swipebox").swipebox();
    });
</script>
<!--//gallery-->

<!--/news-->
<!--
<div class="news-section" id="news">
    <div class="container">
        <h5 class="sub-h">Happy Moments in Your Life</h5>
        <h3 class="tittle">News And Events</h3>
        <div class="news-grids">
            <div class="col-md-6 news-grid">
                <div class="col-md-6 news-img">
                    <img th:src="@{/images/n1.jpg}" title="couple"/>
                </div>
                <div class="col-md-6 news-text">
                    <span class="event-date">Mar 14th <span class="event-year">2016</span></span>
                    <h4>KERPTMSE QUI NESCIUSES IDOLORES</h4>
                    <p>Katrsas lasuytasa mauystades Lundg kertaseares lmasetu segiat malesui tyuadede ferteras mise
                        nlasce doleruytas</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 news-grid">
                <div class="col-md-6 news-img">
                    <img src="images/n2.jpg" title="couple"/>
                </div>
                <div class="col-md-6 news-text">
                    <span class="event-date">Apr 14th <span class="event-year">2016</span></span>
                    <h4>KERPTMSE QUI NESCIUSES IDOLORES</h4>
                    <p>Katrsas lasuytasa mauystades Lundg kertaseares lmasetu segiat malesui tyuadede ferteras mise
                        nlasce doleruytas</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 news-grid">
                <div class="col-md-6 news-img">
                    <img src="images/n4.jpg" title="couple"/>
                </div>
                <div class="col-md-6 news-text">
                    <span class="event-date">Apr 14th <span class="event-year">2016</span></span>
                    <h4>KERPTMSE QUI NESCIUSES IDOLORES</h4>
                    <p>Katrsas lasuytasa mauystades Lundg kertaseares lmasetu segiat malesui tyuadede ferteras mise
                        nlasce doleruytas</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 news-grid">
                <div class="col-md-6 news-img">
                    <img src="images/n3.jpg" title="couple"/>
                </div>
                <div class="col-md-6 news-text">
                    <span class="event-date">Apr 14th <span class="event-year">2016</span></span>
                    <h4>KERPTMSE QUI NESCIUSES IDOLORES</h4>
                    <p>Katrsas lasuytasa mauystades Lundg kertaseares lmasetu segiat malesui tyuadede ferteras mise
                        nlasce doleruytas</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
-->

<div th:replace="fragments/contact"></div>
<div th:replace="fragments/footer"></div>
<!--//main content start-->
<!--start-smooth-scrolling-->
<script type="text/javascript">
    $(document).ready(function () {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({easingType: 'easeOutQuart'});

    });

</script>
<!--end-smooth-scrolling-->
<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover"
                                                                         style="opacity: 1;"> </span></a>
<!-- //for bootstrap working -->
<!-- for bootstrap working -->
<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->


</body>
</html>