<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>অটিজম বার্তা :: অটিজম নিরুপন ও পর্যবেক্ষণের কমিউনিটি বেইজড স্ক্রিনিং টুল </title>
    <!--mobile apps-->
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
    <meta name="keywords" content="Interactive, community-based screening tool for Autism, Autism Barta"></meta>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--mobile apps-->
    <!--Custom Theme files -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all"></link>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    </link>
    <link rel="stylesheet" type="text/css" href="css/component.css"></link>
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="js/modernizr.custom.js"></script>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 900);
            });
        });
    </script>

    <!-- //js -->
    <!--web-fonts-->
    <link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'></link>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'></link>
    <!--//web-fonts-->
    <!--animate-->
    <link href="css/animate.css" rel="stylesheet" type="text/css" media="all"></link>
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- start-smoth-scrolling-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <!--//end-smoth-scrolling-->
</head>

<body>
<!--w3layouts-->
<!--agileits-->
<!-- main content start-->
<!--start-home-->
<div id="home" class="header">
    <!--start-header-->
    <div class="header-strip">
        <div class="container">
            <!-- 				<p class="phonenum"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> HELP LINE:  162362

             &nbsp;&nbsp; Register | &nbsp;Log In</p> -->
            <div class="social-icons">
                <!--IF NOT LOGGED IN-->
                <!--IF NOT LOGGED IN-->
                <ul th:if="${session.user == null}" >
                    <li><a th:href="@{/register}" class="account"><span class="glyphicon glyphicon-user"></span> রেজিস্ট্রেশন</a></li>
                    <li><a th:href="@{/login}" class="account"><span class="glyphicon glyphicon-log-in"></span>  লগ ইন </a></li>
                </ul>
                <ul th:if="${session.user != null}" >
                    <li><a th:href="@{/profile}" class="account"><span th:text="${session.user.getName()}"></span></a></li>
                    <li><a th:href="@{/logout}" class="account"><span class="glyphicon glyphicon-log-in"></span> লগ আউট</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="header-top">
        <div class="container">
            <div class="logo"><a href="index.html" th:href="@{/}"><h1>অটিজম<span>বার্তা</span></h1>
                <p class="top-para">অটিজম নিরুপন ও পর্যবেক্ষণের কমিউনিটি বেইজড স্ক্রিনিং টুল</p></a></div>
            <div class="main-nav">
                <span class="menu"></span>
                <div class="top-menu">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/}">হোম</a></li>
                        <li><a th:href="@{/child/screening/start}">অটিজম স্ক্রিনিং</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/dashboard}">ড্যাশবোর্ড
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/dashboard}">ড্যাশবোর্ড</a></li>
                                <li><a th:href="@{/child}">আমার শিশু</a></li>
                                <!--<li><a th:href="@{/profile}">প্রোফাইল</a></li>-->
                                <li th:if="${session.user != null}"><a th:href="@{/profile/create}">প্রোফাইল তৈরী করুন</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/admin/questions}"> অ্যাডমিন
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/admin/child?page=0}">শিশুর তালিকা</a></li>
                                <li><a th:href="@{/admin/questions}">প্রশ্নাবলী </a></li>
                                <li><a th:href="@{/admin/questions/create}">প্রশ্ন তৈরি করুন</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/admin/questions}">অটিজম সেন্টার
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/admin/center/home}">সেন্টার হোম</a></li>
                                <li><a th:href="@{/admin/center/responses}">নতুন রেসপন্স</a></li>
                                <li><a th:href="@{/admin/center/visited}">ভিজিটিকৃত শিশুর তালিকা</a></li>
                            </ul>
                        </li>
                    </ul>
                </div> <!--NAVIGATION-->
            </div>
            <!-- script-for-menu -->
            <script>
                $("span.menu").click(function () {
                    $(".top-menu").slideToggle("slow", function () {
                        // Animation complete.
                    });
                });
            </script>
            <!--End-top-nav-script-->
            <!--//end-header-->
            <div class="clearfix"></div>
        </div>
        <!--start-banner
                <div class="banner">
                           <div class="container">
                  <div class="banner-slider">
                  <div class="callbacks_container">
                      <ul class="rslides" id="slider4">
                          <li>
                             <div class="banner-info">
                                    <h3 class="wow slideInUp"  data-wow-duration="1s" data-wow-delay=".3s">Welcome</h3>
                                    <p class="wow slideInDown"  data-wow-duration="1s" data-wow-delay=".3s">
  A Good Strategy</p>

                                   <span class="wow slideInUp"  data-wow-duration="1s" data-wow-delay=".3s">Smart Choice !</span>
                                </div>
                          </li>
                          <li>
                             <div class="banner-info">
                                  <h3 class="wow slideInUp"  data-wow-duration="1s" data-wow-delay=".3s">We Love</h3>
                                   <p class="wow slideInDown"  data-wow-duration="1s" data-wow-delay=".3s">Will Carry You Right</p>

                                   <span class="wow slideInUp"  data-wow-duration="1s" data-wow-delay=".3s">Smart Choice !</span>
                                </div>
                          </li>
                          <li>
                             <div class="banner-info">
                                    <h3 class="wow slideInUp"  data-wow-duration="1s" data-wow-delay=".3s">We Plan</h3>
                                    <p class="wow slideInDown"  data-wow-duration="1s" data-wow-delay=".3s">Through Retirement </p>

                                     <span class="wow slideInUpslideInLeft"  data-wow-duration="1s" data-wow-delay=".3s">Smart Choice !</span>
                             </div>
                        </li>
                      </ul>
            <script src="js/responsiveslides.min.js"></script>
               <script>
                  // You can also use "$(window).load(function() {"
                  $(function () {
                    // Slideshow 4
                    $("#slider4").responsiveSlides({
                      auto: true,
                      pager:true,
                      nav:true,
                      speed: 500,
                      namespace: "callbacks",
                      before: function () {
                        $('.events').append("<li>before event fired.</li>");
                      },
                      after: function () {
                        $('.events').append("<li>after event fired.</li>");
                      }
                    });

                  });
                </script>



                </div>
                  </div>
             </div>
          </div> -->
    </div>
</div>
<!--//end-banner-->
<!-- app-->
<div class="modal ab fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog about" role="document">
        <div class="modal-content about">
            <div class="modal-header">
                <button type="button" class="close ab" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body about">
                <div class="about">
                    <h4 class="tittle wow fadeInUp animated animated" data-wow-delay=".5s">Retirement Plans</h4>
                    <div class="about-inner">

                        <iframe src="https://www.youtube.com/embed/lj813_txFFc" frameborder="0"
                                allowfullscreen="true"></iframe>
                        <h5 class="tittle">Lorem ipsum dolor sit amet</h5>
                        <p>Lorem ipsum dolor sit amet Integer gravida,Lorem ipsum dolor sit amet Integer gravida
                            velit,Ming sits in the corner the whole day. She's into crochet. quis dolor
                            tristiqumsan.Mirum est notare quam littera gothica, quam nunc putamus parum claram,
                            anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. velit
                            quis dolor tristiqumsan.</p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- //app-->
<!-- about-type-grid -->
<div class="about" id="about">
    <div class="container">
        <div class="col-md-5 ab-left">
            <form action="#" th:action="@{/child/screening/start}" method="post" class="retire">
                <div class="styled-input">
                    <input type="text" name="name" required="required" style="color: white;" placeholder="শিশুর নাম"></input>
                    <span></span> </div>
                <div class="styled-input">
                    <input type="date" name="birthDate" required="required" style="color: white; margin-top: 20px;" placeholder="শিশুর জন্ম তারিখ"></input>
                    <label>শিশুর জন্ম তারিখ</label>
                    <span></span> </div>
                <div class="styled-input">
                    <input type="text" name="relation" placeholder="শিশুর সাথে আপনার সম্পর্ক" required="required"/>
                    <span></span> </div><br/>
                <div class="send">
                    <input type="submit" value="অটিজম স্ক্রিনিং করুন"></input>
                </div>
            </form>


        </div>

        <div class="col-md-6 ab-right">
            <div class="col-bottom two">
                <h2 class="tittle"> <span>অটিজম  বার্তায়</span> স্বাগতম</h2>
                <!--   <h4>অটিজম নিরুপন ও পর্যবেক্ষণের কমিউনিটি বেইজড স্ক্রিনিং টুল </h4> -->
                <p>“অটিজম বার্তা” একটি মোবাইল ভিত্তিক, ইন্টারেক্টিভ, কমিউনিটি বেইজড স্ক্রিনিং টুল যা অটিজম নিরুপন ও পর্যবেক্ষণের কাজে ব্যবহার করা হয়। পিতা-মাতা, চিকিৎসক, স্বাস্থ্যবিষয়ক প্রশিক্ষিত কর্মকর্তাগণ অ্যাপটি ব্যবহার করে  অটিজম স্ক্রিনিং ও পরবর্তি করনীয় বিষয়গুলো জানতে পারবেন। অ্যাপটি দ্বারা পরীক্ষার মাধ্যমে একটি শিশুর অটিজম হওয়ার সম্ভাবনা প্রকাশ পেলে তার খবর নিকটস্থ অটিজম সেন্টারে সয়ংক্রীয়ভাবে অবহিত করা হয়। পাশাপাশি শিশুর অভিভাবককে পরবর্তী করনীয় সম্পর্কে অবহিত করা হয়।  </p>
                <a href="#" data-toggle="modal" data-target="#myModal1" class="hvr-shutter-in-horizontal">রেজিস্ট্রেশন </a>
                &nbsp;&nbsp;
                <a href="#" data-toggle="modal" data-target="#myModal1" class="hvr-shutter-in-horizontal">লগ ইন</a>
            </div>

        </div>

        <div class="clearfix"> </div>
    </div>
</div>   <!-- //about-type-grid -->

<!--/news-->
<div class="services" id="service">
    <div class="container">
        <h5 class="sub-h">স্বনামধন্য প্রতিষ্ঠানসমূহ দ্বারা পরিচালিত</h5>
        <h3 class="tittle">সহযোগী প্রতিষ্ঠান</h3>
        <div class="serve-grids-top">

            <div class="col-md-3 service-box hvr-float-shadow">
                <div class=" hi-icon-effect-6">
                    <img src="images/a2i.png"></img>
                    <!-- 						   <a href="#set-6" class="hi-icon glyphicon glyphicon-cog"></a>
                     -->                         </div>
                <h5>a2i</h5>
                <p>a2i is the world’s first Innovation Lab+ and the key driver from the Prime Minister’s Office.</p>
            </div>
            <!--w3layouts-->
            <!--agileits-->
            <div class="col-md-3 service-box hvr-float-shadow">
                <div class=" hi-icon-effect-6">
                    <img src="images/aimslab.png"></img>
                    <!-- 						<a href="#set-6" class="hi-icon glyphicon glyphicon-star-empty"></a>
                     -->                    </div>
                <h5>AIMS Lab, UIU</h5>
                <p>Advanced Intelligent Multidisciplinary Systems Lab (AIMS Lab) by United International University.</p>
            </div>
        </div>
        <div class="col-md-3 service-box hvr-float-shadow">
            <div class=" hi-icon-effect-6">
                <img src="images/jpuf.png"></img>
                <!-- 						<a href="#set-6" class="hi-icon glyphicon glyphicon-leaf"></a>
                 -->                    </div>
            <h5>JPUF</h5>
            <p>Jatiyo Protibondhi Unnayan Foundation,Ministry of Social Welfare.</p>
        </div>
        <div class="col-md-3 service-box hvr-float-shadow">
            <div class=" hi-icon-effect-6">
                <img src="images/bsmmu.png"></img>
                <!-- 						<a href="#set-6" class="hi-icon glyphicon glyphicon-gift"></a>
                 -->                    </div>
            <h5>IPNA BSMMU</h5>
            <p> Institute of Paediatric Neurodisorder and Autism (IPNA) in Bangabandhu Sheikh Mujib Medical University</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="insurance-section" id="plan">
    <div class="container">
        <h5 class="sub-h">অটিজম বার্তা এখন অ্যান্ড্রয়েডে</h5>
        <h3 class="tittle second">অটিজম বার্তা অ্যান্ড্রয়েড অ্যাপলিকেশন</h3>

        <div class="insurance-grids grid">
            <div class="col-md-6 insurance-grid">
                <figure class="effect-julia">
                    <img src="images/apphome.png" alt="img21"/>
                    <!-- 	<figcaption>
                            <h4>Lorem ipsum  <span>dolor </span></h4>
                            <div>
                                <p>Julia dances in the deep dark</p>
                                <p>She loves the smell of the ocean</p>
                                <p>And dives into the morning light</p>
                            </div>
                            <a href="#">View more</a>
                        </figcaption>	 -->
                </figure>

            </div>
            <div class="col-md-6 insurance-grid">
                <figure class="effect-julia">
                    <img src="images/appq.png" alt="img21"/>
                    <!-- 		<figcaption>
                                <h4>Lorem ipsum  <span>dolor </span></h4>
                                <div>
                                    <p>Julia dances in the deep dark</p>
                                    <p>She loves the smell of the ocean</p>
                                    <p>And dives into the morning light</p>
                                </div>
                                <a href="#">View more</a>
                            </figcaption>	 -->
                </figure>

            </div>
            <div class="clearfix"></div>
        </div>
        <!--<h4>Autism Screening is now on mobile</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy
            hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Nulla dui. Maecenas tristique orci ac sem. Duis ultricies
            pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget,
            elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.</p>
        <ul class="insure">
            <li><a href="#"><i class="tick"></i></a>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
            <li><a href="#"><i class="tick"></i></a>Cras bibendum ornare mauris porta aliquam</li>
            <li><a href="#"><i class="tick"></i></a>Maecenas quis rutrum quam</li>
            <li><a href="#"><i class="tick"></i></a>Suspendisse imperdiet sapien eu metus adipiscing</li>
            <li><a href="#"><i class="tick"></i></a>Maecenas quis rutrum quam, ut vulputate quam.</li>
            <li><a href="#"><i class="tick"></i></a>Mauris accumsan at leo ut fringilla. In bibendum varius nulla at
                ornare.
            </li>
        </ul>-->
        <br/>
        <img src="images/gplay.png" width="240" height="100"></img>

        <!-- 			   	<a href="#" data-toggle="modal" data-target="#myModal1" class="hvr-shutter-in-horizontal">Download on Google Play</a>
         -->
    </div>
</div>
<!--
<div class="gallery" id="gallery">
	<div class="container">
	 <h5 class="sub-h">Happy Moments in Your Life</h5>
		 <h3 class="tittle">Gallery</h3>
			<div class="top-gallery">
				<div class="col-md-4 gallery-grid gallery1">
					<a href="images/g3.jpg" class="swipebox"><img src="images/g3.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>We Plan</h4>
							<p>Welcome</p>
							
						</div>
				</a>
				</div>
				<div class="col-md-4 gallery-grid gallery1">
					<a href="images/g4.jpg" class="swipebox"><img src="images/g4.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>We Plan</h4>
							<p>Welcome</p>
						
						</div>
				</a>
				</div>
				<div class="col-md-4 gallery-grid gallery1">
					<a href="images/g5.jpg" class="swipebox"><img src="images/g5.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>We Plan</h4>
							<p>Welcome</p>
							
						</div>
				</a>
				</div>
				<div class="col-md-4 gallery-grid gallery1">
					<a href="images/g6.jpg" class="swipebox"><img src="images/g6.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>We Plan</h4>
							<p>Welcome</p>
							
						</div>
				</a>
				</div>
				<div class="col-md-4 gallery-grid gallery1">
					<a href="images/g7.jpg" class="swipebox"><img src="images/g7.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>We Plan</h4>
							<p>Welcome</p>
							
						</div>
					</a>
				</div>
				<div class="col-md-4 gallery-grid gallery1">
					<a href="images/g8.jpg" class="swipebox"><img src="images/g8.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>We Plan</h4>
							<p>Welcome</p>
					   </div>
				   </a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>	
	</div>start-gallery-->
<link rel="stylesheet" href="css/swipebox.css"></link>
<script src="js/jquery.swipebox.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $(".swipebox").swipebox();
    });
</script>
<!--//gallery-->

<!--/news-->
<!--
<div class="news-section" id="news">
    <div class="container">
        <h5 class="sub-h">Happy Moments in Your Life</h5>
        <h3 class="tittle">News And Events</h3>
        <div class="news-grids">
            <div class="col-md-6 news-grid">
                <div class="col-md-6 news-img">
                    <img th:src="@{/images/n1.jpg}" title="couple"/>
                </div>
                <div class="col-md-6 news-text">
                    <span class="event-date">Mar 14th <span class="event-year">2016</span></span>
                    <h4>KERPTMSE QUI NESCIUSES IDOLORES</h4>
                    <p>Katrsas lasuytasa mauystades Lundg kertaseares lmasetu segiat malesui tyuadede ferteras mise
                        nlasce doleruytas</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 news-grid">
                <div class="col-md-6 news-img">
                    <img src="images/n2.jpg" title="couple"/>
                </div>
                <div class="col-md-6 news-text">
                    <span class="event-date">Apr 14th <span class="event-year">2016</span></span>
                    <h4>KERPTMSE QUI NESCIUSES IDOLORES</h4>
                    <p>Katrsas lasuytasa mauystades Lundg kertaseares lmasetu segiat malesui tyuadede ferteras mise
                        nlasce doleruytas</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 news-grid">
                <div class="col-md-6 news-img">
                    <img src="images/n4.jpg" title="couple"/>
                </div>
                <div class="col-md-6 news-text">
                    <span class="event-date">Apr 14th <span class="event-year">2016</span></span>
                    <h4>KERPTMSE QUI NESCIUSES IDOLORES</h4>
                    <p>Katrsas lasuytasa mauystades Lundg kertaseares lmasetu segiat malesui tyuadede ferteras mise
                        nlasce doleruytas</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 news-grid">
                <div class="col-md-6 news-img">
                    <img src="images/n3.jpg" title="couple"/>
                </div>
                <div class="col-md-6 news-text">
                    <span class="event-date">Apr 14th <span class="event-year">2016</span></span>
                    <h4>KERPTMSE QUI NESCIUSES IDOLORES</h4>
                    <p>Katrsas lasuytasa mauystades Lundg kertaseares lmasetu segiat malesui tyuadede ferteras mise
                        nlasce doleruytas</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
-->

<!--/contact-->
<div id="contact" class="contact">
    <div class="container">
        <div class="contact-text">
            <h5 class="sub-h">STAY IN TOUCH</h5>
            <h3 class="tittle second">Contact us</h3>
        </div>
        <div class="contact-form">
            <form action="#" method="post">
                <input class="wow fadeInDown animated" data-wow-delay=".5s" type="text" name="Name" placeholder="Name"
                       required=""></input>
                <input class="email wow fadeInDown animated" type="text" name="Email" placeholder="Email" required=""></input>
                <input class="wow fadeInDown animated" data-wow-delay=".7s" type="text" name="Phone" placeholder="Phone"
                       required=""></input>
                <textarea class="wow fadeInDown animated" data-wow-delay=".9s" name="Message" placeholder="Message"
                          required=""></textarea>
                <div class="submit-button"><input type="submit" value="SUBMIT"></input></div>
            </form>
        </div>

    </div>

</div>
<!--  <div class="map">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3593.1651928596452!2d-80.18708473414607!3d25.765106655121123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b42909d18c97%3A0x97689362b4db9e7e!2sBrickell+Park!5e0!3m2!1sen!2sin!4v1425979652981" frameborder="0" style="border:0"></iframe>
 </div> -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-4 footer-grid-left">
                <h3>twitter feed</h3>
                <ul>
                    <li><a href="single.html">It is a long established fact that a reader will
                        be distracted by the readable content of a page when looking at
                        its layout.</a><span>15 minutes ago</span></li>
                    <li><a href="mailto:info@example.com" class="cols">@NASA</a> And <a href="mailto:info@example.com"
                                                                                      class="cols">
                        @orbital science</a> <a href="single.html">readable content of a page when looking at
                        its layout</a><span>45 minutes ago</span></li>
                </ul>
            </div>
            <div class="col-md-4 footer-grid-left">
                <h3>Newsletter</h3>
                <form action="#" method="post">
                    <input type="email" value="enter your email address" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = 'enter your email address';}" required=""></input>
                    <input type="submit" value="Submit"></input>
                </form>
            </div>
            <div class="col-md-4 footer-grid-left">
                <h3>about us</h3>
                <p>“অটিজম বার্তা” একটি মোবাইল ভিত্তিক, ইন্টারেক্টিভ, কমিউনিটি বেইজড স্ক্রিনিং টুল যা অটিজম নিরুপন ও পর্যবেক্ষণের কাজে ব্যবহার করা হয়। পিতা-মাতা, চিকিৎসক, স্বাস্থ্যবিষয়ক প্রশিক্ষিত কর্মকর্তাগণ অ্যাপটি ব্যবহার করে  অটিজম স্ক্রিনিং ও পরবর্তি করনীয় বিষয়গুলো জানতে পারবেন। অ্যাপটি দ্বারা পরীক্ষার মাধ্যমে একটি শিশুর অটিজম হওয়ার সম্ভাবনা প্রকাশ পেলে তার খবর নিকটস্থ অটিজম সেন্টারে সয়ংক্রীয়ভাবে অবহিত করা হয়। পাশাপাশি শিশুর অভিভাবককে পরবর্তী করনীয় সম্পর্কে অবহিত করা হয়।
                    <span>অ্যাপটির মাধ্যমে শিশুর অবস্থা মনিটর করা ও পরবর্তীতে সময় মত পিতা-মাতাকে মোবাইলে অবহিত করা হয়। পাশাপাশি অটিজম বিষয়ক সামাজিক সচেতনতা ও শিক্ষিত করা “অটিজম বার্তা”র অন্যতম লক্ষ্য।</span>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-left">
                <p>&copy; 2016  AIMS Lab, United International University. All rights reserved | Design by <a href="http://agroho.com/">আগ্রহ</a>
                </p>
            </div>
            <div class="footer-bottom-right">
                <ul class="social-icons2">
                    <li><a href="#"> </a></li>
                    <li><a href="#" class="fb"> </a></li>
                    <li><a href="#" class="in"> </a></li>
                    <li><a href="#" class="dott"> </a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //footer -->
<!--//main content start-->
<!--start-smooth-scrolling-->
<script type="text/javascript">
    $(document).ready(function () {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({easingType: 'easeOutQuart'});

    });

</script>
<!--end-smooth-scrolling-->
<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover"
                                                                         style="opacity: 1;"> </span></a>
<!-- //for bootstrap working -->
<!-- for bootstrap working -->
<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->


</body>
</html>