<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Update Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div>
    <nav class="navbar navbar-inverse row" style="padding-left: 100px;padding-right: 100px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">Autism Barta</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/}">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/dashboard}">Dashboard
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/dashboard}">Dashboard</a></li>
                            <li><a th:href="@{/child}">My Childs</a></li>
                            <li><a th:href="@{/profile}">Profile</a></li>
                            <li th:if="${session.user != null}"><a th:href="@{/profile/create}">Create Profile</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/questions}">Questions
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/questions}">Questions</a></li>
                            <li><a th:href="@{/questions/create}">Create Question</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/child/screening/start}">Start Screening</a></li>
                </ul>
                <!--IF NOT LOGGED IN-->
                <ul th:if="${session.user == null}" class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/register}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
                <ul th:if="${session.user != null}" class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/profile}"><span th:text="${session.user.getName()}"></span></a></li>
                    <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>  <!--END NAVBAR -->

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h3>Create Profile:</h3>
                <form class="form" th:action="@{/profile/update}" th:object="${parent}" method="post"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="label label-success" for="name">Your name</label>
                        <input class="form-control" type="text" name="name" th:value="${parent?.getName()}" id="name" placeholder="You Name"></input>
                    </div>
                    <div class="form-group">
                        <label class="label label-success" for="phoneNumber">Phone Number</label>
                        <input class="form-control" type="text" id="phoneNumber" th:value="${parent?.getPhoneNumber()}" name="phoneNumber"></input>
                    </div>
                    <div class="form-group">
                        <h4>Address:</h4>
                        <div class="form-group">
                            <label class="label label-success" for="street">Street</label>
                            <input class="form-control" type="text" id="street" th:value="${parent?.getAddress()?.getStreet()}" name="address.street"></input>
                        </div>
                        <div class="form-group">
                            <label class="label label-success" for="thana">Thana</label>
                            <input class="form-control" type="text" name="address.thana" th:value="${parent?.getAddress()?.getThana()}" id="thana"></input>
                        </div>
                        <div class="form-group">
                            <label class="label label-success" for="district">District</label>
                            <input class="form-control" type="text" name="address.district" th:value="${parent?.getAddress()?.getDistrict()}" id="district"></input>
                        </div>
                        <div class="form-group">
                            <label class="label label-success" for="postCode">Post Code</label>
                            <input class="form-control" type="number" name="address.postCode" th:value="${parent?.getAddress()?.getPostCode()}" id="postCode"></input>
                        </div>
                        <div class="form-group">
                            <label class="label label-success" for="division">Division</label>
                            <input class="form-control" type="text" name="address.division" th:value="${parent?.getAddress()?.getDivision()}" id="division"></input>
                        </div>
                    </div>
                    <button class="btn btn-success" type="submit">Create Profile</button>
                </form>
            </div>

        </div>

    </div>
</div>
</body>
</html>