<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>All Questions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse row" style="padding-left: 100px;padding-right: 100px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">Autism Barta</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/dashboard}">Dashboard
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/dashboard}">Dashboard</a></li>
                        <li><a th:href="@{/child}">My Childs</a></li>
                        <li><a th:href="@{/profile}">Profile</a></li>
                        <li th:if="${session.user != null}"><a th:href="@{/profile/create}">Create Profile</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/admin/questions}">Admin
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/admin/child?page=0}">Child List</a></li>
                        <li><a th:href="@{/admin/questions}">Questions</a></li>
                        <li><a th:href="@{/admin/questions/create}">Create Question</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/child/screening/start}">Start Screening</a></li>
            </ul>
            <!--IF NOT LOGGED IN-->
            <ul th:if="${session.user == null}" class="nav navbar-nav navbar-right">
                <li><a th:href="@{/register}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            <ul th:if="${session.user != null}" class="nav navbar-nav navbar-right">
                <li><a th:href="@{/profile}"><span th:text="${session.user.getName()}"></span></a></li>
                <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav><!--END NAVBAR -->

<div class="container-fluid">
    <div th:if="${param.message != null}" class="row alert alert-warning">
        <div class="col-sm-offset-2">
            <span th:text="${param.message[0]}"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Image</td>
                    <td>Question Name</td>
                    <td>Positive Text</td>
                    <td>Negative Text</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="question : ${questionList}">
                    <td>
                        <span th:text="${question.getQuestionId()}"></span>
                    </td>
                    <td>
                        <img width="50px" height="50px" th:src="@{/admin/questions/image/}+${question.getId()}"></img>
                    </td>
                    <td>
                        <span th:text="${question.getName()}"></span>
                    </td>
                    <td>
                        <span th:text="${question.getPositiveText()}"></span>
                    </td>
                    <td>
                        <span th:text="${question.getNegativeText()}"></span>
                    </td>
                    <td>
                        <a class="btn btn-warning" th:href="@{/admin/questions/update/}+${question.getId()}">Update</a>
                    </td>
                    <td>
                        <form th:action="@{/admin/questions/delete/}+${question.getId()}" method="post">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>