<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Create Question</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div>
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h3>Create Question:</h3>
                <form class="form" th:action="@{/questions/create}" th:object="${question}" method="post"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="label label-success" for="questionId">Question Id:</label>
                        <input class="form-control" type="number" name="questionId" id="questionId"></input>
                    </div>
                    <div class="form-group">
                        <label class="label label-success" for="name">Question Title</label>
                        <input class="form-control" type="text" name="name" id="name" placeholder="Title"></input>
                    </div>
                    <div class="form-group">
                        <label class="label label-success" for="file">Choose an image</label>
                        <input class="form-control" type="file" id="file" name="file"></input>
                    </div>
                    <div class="form-group">
                        <label class="label label-success" for="positiveText">Positive Text</label>
                        <input class="form-control" type="text" id="positiveText" name="positiveText"></input>
                    </div>
                    <div class="form-group">
                        <label class="label label-success" for="negativeText">Negative Text</label>
                        <input class="form-control" type="text" name="negativeText" id="negativeText"></input>
                    </div>
                    <div>
                        <button class="btn btn-success" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>